.email-background {
  background: #fff;
  padding: 16px; }

.email-container, .pre-header {
  max-width: 420px;
  background: #ffe000;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.pre-header {
  background: #fff;
  color: #eee;
  font-size: 5px; }



/* General styling */
.sparkler {
  position: absolute;
  right: 0;
  top: 300px;
  width: 140px;
}

.align-right {
  text-align: right;
}
.float-right {
  position: relative;
  float: right;
  display: block;
}

.sixty-four {
  padding-bottom: 64px;
}
.thirty-two {
  padding-bottom: 32px;
}

.external {
  padding: 48px !important;
  text-align: center;
}





/* Typography */

  @font-face {
    font-family: 'Haas Grot Text Web';
    font-style: normal;
    font-weight: 400;
    src: url('https://s3.ca-central-1.amazonaws.com/ysdn/NeueHaasGrotText-55Roman-Web.woff') format('woff'),
    url('https://s3.ca-central-1.amazonaws.com/ysdn/NeueHaasGrotText-55Roman-Web.woff2') format('woff2');
  }


/*
@font-face {
  font-family: 'Haas Grot Text Web';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/NeueHaasGrotDisp-55Roman-Web.woff') format('woff'),
  url('fonts/NeueHaasGrotDisp-55Roman-Web.woff2') format('woff2');
}*/

h1 { /* Dates */
  font-family: sans-serif;
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-family: sans-serif;
  font-size: 42px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}

h3 {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

h4 { /* Links, 2018 */
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;

}

h5 { /* event captions */
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;

}

h6 { /* sponsor headlines */
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;

}


p {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px; }

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/* Tabling */
.thenext {
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000;
}

.thenext td {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  padding: 10px;
  border-top: 0px;
}

/* Table framework */
.table-one {
  width: 34.375%; }

.table-two {
  width: 23.75%; }

.table-three {
  width: 15.625%; }

.table-four {
  width: 10%; }

.table-five {
  width: 6.25%;
}

.table-six {
  width: 5%; }

.table-seven {
  width: 3.125%; }


/* Other common styles */
.no-top {
  border-top: 0px !important;
}
